.container {
  display: flex;
  height: 815px;
}

.container-left {
  background-color: rgb(253, 253, 253);
  width: 25%;
}

.container-right {
  background-color: rgb(241, 241, 241);
  width: 75%;
}

